<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index.js"></script>
    <title>CPH – Ground control</title>
</head>

<body>
    <main role="main">
        <h1>Flight plans</h1>

        <table class="flights">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Flight no.</th>
                    <th>Departure airport</th>
                    <th>Arrival airport</th>
                    <th>Move to gate</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>SK 1465</td>
                    <td>ARN</td>
                    <td>CPH</td>
                    <td>
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>7</button>
                        <button>8</button>
                        <button>9</button>
                        <button>14</button>
                        <button>15</button>
                        <button>16</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <div class="loading-icon"></div>
    </main>
</body>
</html>

<!-- <svg id="on-ground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="m 16,10 h 4 c 2.666666,0 2.666666,4 0,4 h -4 -5 v 0 0 H 7 c -2.2162176,2.216218 -2.2162176,2.216218 0,0 H 5.0905753 L 2,8 h 3 l 2,2 h 4 L 9,3 h 1.883721 z"/>
        <rect width="20" height="1.5" x="2" y="16"/>
    </svg>                  -->
<!-- <svg id="departing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="m 15.987554,8.5915786 3.75877,-1.3680805 c 2.505847,-0.9120535 3.873927,2.8467169 1.368081,3.7587709 l -3.75877,1.36808 -4.698464,1.710101 v 0 0 l -3.75877,1.36808 c -1.3245722,2.840555 -1.3245722,2.840555 0,0 L 7.1041287,16.081592 2.147817,11.500475 4.9668949,10.474415 7.5303204,11.66976 11.289091,10.301679 7.0155646,4.4078713 8.7856834,3.7636008 Z"/>
    </svg>                  -->