<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="../static/js/index.js"></script>
    <script defer src="/js/index.js"></script>
    <title>CPH – Ground services</title>
</head>

<body>
    <main role="main">
        <h1>Flight SK1638</h1>

        <table class="checklist" data-flight-id="">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Has the aircraft refueled yet?</td>
                    <td>
                        <input type="checkbox" name="hasRefueled" id="hasRefueled">
                    </td>
                </tr>
                <tr>
                    <td>Is there passengers on board?</td>
                    <td>
                        <input type="checkbox" name="hasPassengers" id="hasPassengers">
                    </td>
                </tr>
                <tr>
                    <td>Is there cargo on board?</td>
                    <td>
                        <input type="checkbox" name="isCargoLoaded" id="isCargoLoaded">
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>